<div>
  <div class="content">
    <div class="fineprint">
      <p><font color="<%= text_color %>">We NEVER receive or store any sensitive customer credit card information.  All of our credit card processing is managed directly and solely by Stripe, a PCI Level 1 Compliant Service Provider.</font></p>
      <a href=https://stripe.com/docs/security/stripe>https://stripe.com/docs/security/stripe</a>
      <p><font color="<%= text_color %>"><%= terms %></font></p>
      <p><font color="<%= text_color %>"><%= disclaimer %></font></p>
      <p><strong><font color="<%= highlight_color %>"><%= warning %></font></strong></p>
      <a href=<%= site_url %>/discord><%= site_url %>/discord</a>
      <br>
    </div>
  </div>
</div>