    <%- include('./includes/head.ejs') %>
    <header id="header" class="rcorners1">
      <div class="header-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="text-container">
                <font color="<%= title_color %>">
                  <h1>POKEMON GO LIVE <br /><span id="">MAPS & ALERTS</span></h1>
                  <h3>Features:</h3>
                  <ul style="float:left;">
                    <%- include('../config/pages/featureList.ejs') %>
                  </ul>
                  <div style="clear: both;"></div>
                  <p>Log in with Discord to view all details, service areas & plans and start or manage your services</p>
                  <a href="<%= login_url %>"><img src="https://poke-map.ca/images/discordbutton.png" style="width: 200px;"></a>
              </font>
            </div>
          </div> 
          <div class="col-lg-6">
            <div class="image-container">
              <img class="img-fluid" src="https://poke-map.ca/images/header-iphone.png" alt="alternative">
            </div>
          </div>
        </div>
      </div>
      <%- include('./includes/fineprint.ejs') %>
    </header> 
    <%- include('./includes/end.ejs') %>