<%- include('./includes/head.ejs') %>
<% var available = total = user.total_votes;
var zones = user.zone_votes;
for(var i=0; i < zones.length; i++) {
    available -= zones[i].votes;
}
%>
<style>
    .column-4 {
        float: left;
        display: inline;
        width: 21%;
        height: 190px;
        padding: 0 10px 10px 10px;
        margin:10px;
        border-color: black;
        border-style: solid;
        background-color: grey;
        word-wrap: break-word;
        overflow:auto;
        cursor: pointer;
        }
</style>
<div class="rcorners1">
    <center>
      <div>
        <div style="display:none">
          <p><strong><font color="black">Your current subscription renews on <%= user.expiration %></font></strong></p>
          <p><strong><font color="black">Manage your subscription using the customer portal below</font></strong></p>
          <a href"#"><button>Customer Portal</button></a>
          <br>
          <br>
          <p><strong><font color="black">Questions? Tips? Issues? Check out our FAQ <a href="#">here</a> or support chat <a href="#">here</a>. Travelling? Join other Alert servers <a href="#">here</a> and get alerts by setting temporary zones <a href="#">here</a></font>
        </div>
        <div>
            <p><strong><font color="black">Your one-time access purchase expires on <%= user.expiration %></font></strong></p>
            <p><strong><font color="black">Top up or subscribe during the last 48 hours using the checkout below</font></strong></p>
            <select>
                <option selected>See plans</option>
                <option>Plan 1</option>
                <option>Plan 2</option>
                <option>Plan 3</option>
              </select>
              &emsp;
            <a href"#"><button>Checkout</button></a>
            <br>
            <br>
            <p><strong><font color="black">Questions? Tips? Issues? Check out our FAQ <a href="#">here</a> or support chat <a href="#">here</a>. Travelling? Join other Alert servers <a href="#">here</a> and get alerts by setting temporary zones <a href="#">here</a></font>
        </div>
        <br>
        <hr>
        <div>
            <p><strong><font color="black">Total Fees and Donations to Date</font></strong></p>
            <p><strong><font color="red"><%= user.total_spend %></font></strong></p>
            <p><strong><font color="black">Total Zone Votes</font></strong></p>
            <p><strong><font color="red"><span id="remainVotes"><%= available %></span> / <%= total %></font></strong></p>
            <br>
            <p><strong><font color="black"><u>Allocate your votes below</u></font></strong></p>
            <form method="POST" id="voteForm">   
                <input type="hidden" name='selection' id='selection' value="">          
                <input type="hidden" name='zonedifferences' id='zonedifferences' value="">          
                <input type="hidden" name='userid' id='userid' value="<%= user.user_id %>">          
                <% for(var i=0; i<zones.length; i++) { %>
                    <div class="column-4"">
                        <p style="margin: 10px; font-size: 30px; line-height: 70%"><%= zones[i].parent_name %></p>
                        <p style="font-size: 20px; line-height: 20%;"><%= zones[i].zone_name %></p>
                        <p style="font-size: 15px; line-height: 10%">Votes: <span id="zone<%= zones[i].zone_name %>"><%= zones[i].votes %></span></p>
                        <button type='button' onclick="updateVotes('<%= zones[i].zone_name %>','sub')">-</button>
                        <button type='button' onclick="updateVotes('<%= zones[i].zone_name %>','add')">+</button>
                        <br>
                        <br>
                        <% if (zones.length > 1) { %>
                        <button type='button' onclick="removeZone('<%= zones[i].zone_name %>','add')">Remove Zone</button>
                        <% } %>
                    </div>
                <% } %>
            <div onclick="window.location='/zonemap'"class="column-4">
                <h2>+</h2>
                <h6>Add New Zone</h6>
            </div>
            </form>
        </div>
        <br>
        <br>
        
        <div style="float:left; width: 100%">
            <button onclick="submitVotes()">Confirm Votes</button>
            <p><strong><font color="black">Donate <a href="#">here</a> to increase votes and help maintain and improve services!</font></strong></p>
            <p><strong><font color="black">EMT Address</font></strong></p>
            <p><strong><font color="black">Ko-Fi Widget</font></strong></p>
            <p><strong><font color="black">Crypto Addresses</font></strong></p>
            <p><strong><font color="black">NOTE: DONATIONS ARE MANUALLY ADDED TO TOTAL</font></strong></p>
        </div>
        <div style="clear: both;"></div> 
    </div></center>
  </div>
  <script>
    var available = <%= available %>;
    var total = <%= total %>;
    var zones = [];
    var originalzones = [];
    
    <% for( var i=0; i < zones.length; i++) { %>
        zones['<%= zones[i].zone_name %>'] = <%= zones[i].votes %>;
        originalzones['<%= zones[i].zone_name %>'] = <%= zones[i].votes %>;
    <% } %>
    function updateVotes(id,operator)
    {
        if(operator == 'add')
        {
            if(available > 0)
            {
                document.getElementById('remainVotes').innerHTML = --available;
                document.getElementById('zone'+id).innerHTML = ++zones[id];
            }
        }
        else
        {
            if(available < total && zones[id] > 0)
            {
                document.getElementById('remainVotes').innerHTML = ++available;
                document.getElementById('zone'+id).innerHTML = --zones[id];
            }
        }
    }

    function removeZone(id)
    {
        if (confirm("Are you sure you want to remove this zone?") == true) 
        {
            jsonValue = '[';
            jsonDiff = '';
            <% for( var i=0; i < zones.length; i++) { %>
                if(id != '<%= zones[i].zone_name %>')
                {
                    jsonValue += '{"zone_name":"<%= zones[i].zone_name %>","parent_name":"<%= zones[i].parent_name %>","votes":"'+zones['<%= zones[i].zone_name %>']+'"},';
                }
                if(id == '<%= zones[i].zone_name %>')
                {
                    zones[id] = 0;
                    var difference = zones[id] - originalzones['<%= zones[i].zone_name %>'];
                    jsonDiff ='{"zone_name":"<%= zones[i].zone_name %>","parent_zone":"<%= zones[i].parent_name %>","difference":"'+difference+'"}'
                }
            <% } %>
            
            jsonValue = jsonValue.substring(jsonValue.length - 1, -1);
            jsonValue += ']';
            document.getElementById('zonedifferences').value = jsonDiff;
            document.getElementById('selection').value = jsonValue;
            document.getElementById('voteForm').submit();
        }
    }
    function submitVotes()
    {
        jsonValue = '[';
        jsonDiff = '';
        <% for( var i=0; i < zones.length; i++) { %>
            jsonValue += '{"zone_name":"<%= zones[i].zone_name %>","parent_name":"<%= zones[i].parent_name %>","votes":"'+zones['<%= zones[i].zone_name %>']+'"},';
            var difference = zones['<%= zones[i].zone_name %>'] - originalzones['<%= zones[i].zone_name %>'];
            jsonDiff +='{"zone_name":"<%= zones[i].zone_name %>","parent_zone":"<%= zones[i].parent_name %>","difference":"'+difference+'"}|'
            <% } %>
        jsonValue = jsonValue.substring(jsonValue.length - 1, -1);
        jsonDiff = jsonDiff.substring(jsonDiff.length - 1, -1);
        jsonValue += ']';
        document.getElementById('selection').value = jsonValue;
        document.getElementById('zonedifferences').value = jsonDiff;
        document.getElementById('voteForm').submit();
    }
  </script>
  <%- include('./includes/end.ejs') %>