<%- include('./includes/head.ejs') %>
<% var available = total = user.total_votes;
var zones = user.zone_votes;
for(var i=0; i < zones.length; i++) {
    available -= zones[i].votes;
}

%>
<style>
    @media (min-width: 320px) and (max-width: 599px) { 
    .column-4 {
        float: left;
        display: inline;
        width: 80%;
        height: 200px;
        padding: 10px;
        margin:5px;
        border-color: black;
        border-style: solid;
        background-image: radial-gradient(circle farthest-side, #fceabb, #f8b500);
        word-wrap: break-word;
        overflow-y: auto;
        overflow-x: auto;
        text-overflow: inherit;
        white-space: normal;
        text-align: justify;
        cursor: pointer;
        }
    .column-new {
        float: left;
        display: inline;
        width: 80%;
        height: 200px;
        margin:5px;
        padding: 10px;
        border-style: solid;
        background-color: grey;
        word-wrap: break-word;
        overflow:auto;
        cursor: pointer;
        background-image: radial-gradient(circle farthest-side, #fceabb, #f8b500);
     }
    .planSelect {
        height:50px;
        max-width: 200px;
    }
    }
    @media (min-width: 600px) and (max-width: 1024px) { 
    .column-4 {
        float: left;
        display: inline;
        width: 40%;
        height: 200px;
        padding: 10px;
        margin:5px;
        border-color: black;
        border-style: solid;
        background-image: radial-gradient(circle farthest-side, #fceabb, #f8b500);
        word-wrap: break-word;
        overflow-y: auto;
        overflow-x: auto;
        text-overflow: inherit;
        white-space: normal;
        text-align: justify;
        cursor: pointer;
        }
    .column-new {
        float: left;
        display: inline;
        width: 40%;
        height: 200px;
        margin:5px;
        padding: 10px;
        border-style: solid;
        background-color: grey;
        word-wrap: break-word;
        overflow:auto;
        cursor: pointer;
        background-image: radial-gradient(circle farthest-side, #fceabb, #f8b500);
     }
    .planSelect {
        height:50px;
        max-width: 200px;
    }
    }
    @media (min-width: 1025px) and (max-width: 5000px) {
    .column-4 {
        float: left;
        display: inline;
        width: 21%;
        padding: 10px;
        margin:5px;
        border-color: black;
        border-style: solid;
        background-image: radial-gradient(circle farthest-side, #fceabb, #f8b500);
        word-wrap: break-word;
        cursor: pointer;
        overflow-y: auto;
        overflow-x: auto;
        text-overflow: inherit;
        white-space: normal;
        text-align: justify;
        }
     .column-new {
        float: left;
        display: inline;
        width: 21%;
        margin:5px;
        border-style: solid;
        background-color: grey;
        word-wrap: break-word;
        overflow:auto;
        cursor: pointer;
        background-image: radial-gradient(circle farthest-side, #fceabb, #f8b500);
     }
        .planSelect {
            height:50px;
        }
    }
        .stretchedText {
        display: inline-block;
        transform: scaleY(0.9);
        transform-origin: 0 0;
        margin-bottom: -50%;
        line-height: 70%;
        font-size: 25px;
        }
</style>
<script type="text/javascript" src="./files/config.json"></script>
<div class="rcorners1">
    <center>
      <div>
        <h1 style="color:white">Hello <%= user.user_name %></h1>  
        <% if(user.customer_type == 'inactive' || user.customer_type == 'inactive-lifetime') {  %>       
            <h2 style="color:white">You currently have no access to services</h1>
        <% } else { %>
             <h2 style="color:white">You currently have <u><%= user.customer_type %></u> access</h1>
        <% } %>
        <br>
        <% if(user.customer_type == 'subscriber') { 
            var expireDate = '';
            if(!!user.expiration)
            {
                expireDate = new Date(user.expiration * 1000)
                expireDate = expireDate.toDateString();
            } 
            else 
            {
                expireDate = 'N/A'
            }
        %>
        <div>
          <p><strong><font color="white">Your current subscription renews on <b><%= expireDate %></b></font></strong></p>
          <p><strong><font color="white">Manage your subscription using the customer portal below</font></strong></p>
          <a href"#"><button>Customer Portal</button></a>
          <br>
          <br>
        </div>
        <% } else if(user.customer_type == 'pay-as-you-go' || user.customer_type == 'manual') {
            var expireDate = '';
             if(!!user.expiration)
            {
                var currentDate = new Date();
                var currentTime = currentDate.getTime();
                expireDate = new Date(user.expiration * 1000)
                expireDate = expireDate.toDateString();
            } 
            else 
            {
                expireDate = 'N/A'
            }
         %>
        <div>
            <p><strong><font color="white">Your Pay-As-You-Go access purchase expires on <b><%= expireDate %></b></font></strong></p>
            <p><strong><font color="white">Top up or subscribe during the last 48 hours using the checkout below</font></strong></p>
            <select class="planSelect">
                <option selected>See plans</option>
             <% for(var i=0; i < plans.length; i++) { %>
                 <option><%= plans[i].title %></option>
            <% } %>
              </select>
            <br>
            <br>
            <a href="/checkout"><button <% if(user.expiration - currentTime < 172800) { %>disabled <% } %>>Checkout</button></a>
            <br>
            <br>
        </div>
        <% } else if(user.customer_type == 'inactive') { %>
        <div>
            <p><strong><font color="white">To have access to services and have your votes counted to the pool, choose one of the plans below.</b></font></strong></p>
            <select class="planSelect">
                <option selected>See plans</option>
             <% for(var i=0; i < plans.length; i++) { %>
                 <option><%= plans[i].title %></option>
            <% } %>
              </select>
            <br>
            <br>
            <a href="/checkout"><button>Checkout</button></a>
            <br>
            <br>
        </div>
        <% } else if(user.customer_type == 'lifetime-inactive') { %>
        <div>
            <form method="POST" id="lifetimeForm">
                <input name="userid" type="hidden" value ="<%= user.user_id %>">
                <input name="status" type="hidden" value ="1">
                <p><strong><font color="white">You lifetime access is currently inactive. Press the button below to reactivate services</b></font></strong></p>
                <br>
                <br>
                <button type="button" onclick="confirmToggle()">Switch to active</button>
                <br>
                <br>
            </form>
        </div>
        <% } else if(user.customer_type == 'lifetime-active') { %>
        <div>
            <form method="POST" id="lifetimeForm">
                <input name="userid" type="hidden" value ="<%= user.user_id %>">
                <input name="status" type="hidden" value ="0">
                <p><strong><font color="white">You lifetime access is currently active. To disable services and remove your votes from the pool, press the button below.</b></font></strong></p>
                <br>
                <br>
                <button type="button" onclick="confirmToggle()">Switch to inactive</button>
                <br>
                <br>
            </form>
        </div>
        <% } %>

                <!--  <p><strong><font color="black">Questions? Tips? Issues? Check out our FAQ <a href="#">here</a> or support chat <a href="#">here</a>. Travelling? Join other Alert servers <a href="#">here</a> and get alerts by setting temporary zones <a href="#">here</a></font> -->

        <br>
        <hr>
        <div>
            <p><strong><font color="white">Total Fees and Donations to Date</font></strong></p>
            <p><strong><font size="20px" color="red">$<%= user.total_spend %></font></strong></p>
            <p><strong><font color="white">Total Zone Votes</font></strong></p>
            <p><strong><font size="20px" color="red"><span id="remainVotes"><%= available %></span> / <%= total %></font></strong></p>
            <br>
            <p><strong><font color="white"><u>Allocate your votes below</u></font></strong></p>
              
            <form method="POST" id="voteForm">   
                <div>
                    <input type="radio" <% if(user.format == 0) { %>checked="checked" <% } %> onchange="changeFormat(0)" id="number" name="format" value="0">
                    <label for="number"><font color="white"># Format</font></label>&nbsp;&nbsp;
                    <input type="radio" <% if(user.format == 1) { %>checked="checked" <% } %> onchange="changeFormat(1)" id="percentage" name="format" value="1">
                    <label for="percentage"><font color="white">% Format</font></label>
                </div>
                <input type="hidden" name='selection' id='selection' value="">          
                <input type="hidden" name='zonedifferences' id='zonedifferences' value="">          
                <input type="hidden" name='userid' id='userid' value="<%= user.user_id %>">          
                <input type="hidden" name='usertype' id='usertype' value="<%= user.customer_type %>">          
                <input type="hidden" name='remZone' id='remZone' value="">          
                <input type="hidden" name='remParentZone' id='remParentZone' value="">          
                <% for(var i=0; i<zones.length; i++) { %>
                    <div class="column-4" style="font-stretch: expanded;">
                        <p class="stretchedText"><%= zones[i].parent_name %></p><br>
                        <p class="stretchedText" style="font-size: 20px;"><%= zones[i].zone_name %></p><br><br>
                        <p style="font-size: 15px; line-height: 10%">Votes:</p>
                        <p style="line-height: 10%"><span class="format0" <% if(user.format == 1) { %>style="display:none" <% } %>id="zone0<%= zones[i].zone_name %>"><%= zones[i].votes %></span><span class="format1" <% if(user.format == 0) { %>style="display:none" <% } %>id="zone1<%= zones[i].zone_name %>"><%= (zones[i].votes/total)*100 %>%</span></p>
                        <button type='button' onclick="updateVotes('<%= zones[i].zone_name %>','sub')">-</button>
                        <button type='button' onclick="updateVotes('<%= zones[i].zone_name %>','add')">+</button>
                        <br>
                        <% if (zones.length > 1) { %>
                        <button type='button' onclick="removeZone('<%= zones[i].zone_name %>','add')">Remove Zone</button>
                        <% } %>
                    </div>
                <% } %>
            <div onclick="window.location='/zonemap'"class="column-new">
                <p style="font-size: 70px;">+</p>
                <p style="font-size: 20px;">Add New Zone</p>
            </div>
            </form>
        </div>
        <br>
        <br>
        
        <div style="float:left; width: 100%">
            <button onclick="submitVotes()">Confirm Votes</button>
            <p><strong><font color="white">Donate <a href="#">here</a> to increase votes and help maintain and improve services!</font></strong></p>
            <p><strong><font color="white">EMT Address</font></strong></p>
            <p><strong><font color="white">Ko-Fi Widget</font></strong></p>
            <p><strong><font color="white">Crypto Addresses</font></strong></p>
            <p><strong><font color="white">NOTE: DONATIONS ARE MANUALLY ADDED TO TOTAL</font></strong></p>
        </div>
        <div style="clear: both;"></div> 
    </div></center>
  </div>
  <script>
    var available = <%= available %>;
    var total = <%= total %>;
    var zones = [];
    var originalzones = [];
    
    <% for( var i=0; i < zones.length; i++) { %>
        zones['<%= zones[i].zone_name %>'] = <%= zones[i].votes %>;
        originalzones['<%= zones[i].zone_name %>'] = <%= zones[i].votes %>;
    <% } %>
    function updateVotes(id,operator)
    {
        if(operator == 'add')
        {
            if(available > 0)
            {
                document.getElementById('remainVotes').innerHTML = --available;
                document.getElementById('zone0'+id).innerHTML = ++zones[id];
                document.getElementById('zone1'+id).innerHTML = String((zones[id]/total)*100) + '%';
            }
        }
        else
        {
            if(available < total && zones[id] > 0)
            {
                document.getElementById('remainVotes').innerHTML = ++available;
                document.getElementById('zone0'+id).innerHTML = --zones[id];
                document.getElementById('zone1'+id).innerHTML = String((zones[id]/total)*100) + '%';
            }
        }
    }

    function removeZone(id)
    {
        if (confirm("Are you sure you want to remove this zone?") == true) 
        {
            jsonValue = '[';
            jsonDiff = '';
            <% for( var i=0; i < zones.length; i++) { %>
                if(id != '<%= zones[i].zone_name %>')
                {
                    jsonValue += '{"zone_name":"<%= zones[i].zone_name %>","parent_name":"<%= zones[i].parent_name %>","votes":"'+zones['<%= zones[i].zone_name %>']+'"},';
                }
                if(id == '<%= zones[i].zone_name %>')
                {
                    zones[id] = 0;
                    parentZone = '<%= zones[i].parent_name %>';
                    var difference = zones[id] - originalzones['<%= zones[i].zone_name %>'];
                    jsonDiff ='{"zone_name":"<%= zones[i].zone_name %>","parent_zone":"<%= zones[i].parent_name %>","difference":"'+difference+'"}'
                }
            <% } %>
            
            jsonValue = jsonValue.substring(jsonValue.length - 1, -1);
            jsonValue += ']';
            document.getElementById('zonedifferences').value = jsonDiff;
            document.getElementById('selection').value = jsonValue;
            document.getElementById('remZone').value = id;
            document.getElementById('remParentZone').value = parentZone;
            document.getElementById('voteForm').submit();
        }
    }
    function submitVotes()
    {
        jsonValue = '[';
        jsonDiff = '';
        <% for( var i=0; i < zones.length; i++) { %>
            jsonValue += '{"zone_name":"<%= zones[i].zone_name %>","parent_name":"<%= zones[i].parent_name %>","votes":"'+zones['<%= zones[i].zone_name %>']+'"},';
            var difference = zones['<%= zones[i].zone_name %>'] - originalzones['<%= zones[i].zone_name %>'];
            jsonDiff +='{"zone_name":"<%= zones[i].zone_name %>","parent_zone":"<%= zones[i].parent_name %>","difference":"'+difference+'"}|'
            <% } %>
        jsonValue = jsonValue.substring(jsonValue.length - 1, -1);
        jsonDiff = jsonDiff.substring(jsonDiff.length - 1, -1);
        jsonValue += ']';
        document.getElementById('selection').value = jsonValue;
        document.getElementById('zonedifferences').value = jsonDiff;
        document.getElementById('voteForm').submit();
    }
    function confirmToggle()
    {
        if (confirm("Are you sure you want to change your lifetime status?") == true) 
        {
            document.getElementById('lifetimeForm').submit();
        }
    }
    function changeFormat(format)
    {
        if(format == 0)
        {
            hide = 1;
        }
        else
        {
            hide = 0;
        }
        var spanHide = document.getElementsByClassName("format"+hide);
        for(var i = 0; i < spanHide.length; i++){
            spanHide[i].style.display = "none"; 
        }
        var spanShow = document.getElementsByClassName("format"+format);
        for(var i = 0; i < spanShow.length; i++){
            spanShow[i].style.display = "block"; 
        }
    }
  </script>
  <%- include('./includes/end.ejs') %>