<%- include('./includes/head.ejs') %>
<% var zoneSelection = user.zone_votes;
var userzones = [];
if(!!zoneSelection){
	for(var i = 0 ; i < zoneSelection.length ; i++){
		userzones.push(zoneSelection[i].zone_name);
	}
}
 %>

<style>
    @media (min-width: 320px) and (max-width: 599px) { 
    .column-4 {
        float: left;
        display: inline;
        width: 80%;
        height: 150px;
        padding: 10px;
        margin:5px;
        border-color: black;
        border-style: solid;
        background-color: grey;
        word-wrap: break-word;
        overflow:auto;
        cursor: pointer;
        }
    }
    .btn {
        width:70%;
        margin-bottom: 10px;

    }
    @media (min-width: 600px) and (max-width: 1024px) { 
    .column-4 {
        float: left;
        display: inline;
        width: 40%;
        height: 150px;
        padding: 10px;
        margin:5px;
        border-color: black;
        border-style: solid;
        background-color: grey;
        word-wrap: break-word;
        overflow:auto;
        cursor: pointer;
        }
     .btn {
        width:150px;
        margin-right: 10px; 
        float:right;
    }
    }
    @media (min-width: 1025px) and (max-width: 5000px) {
        .column-4 {
        float: left;
        display: inline;
        width: 21%;
        height: 150px;
        padding: 10px;
        margin:5px;
        border-color: black;
        border-style: solid;
        background-color: grey;
        word-wrap: break-word;
        overflow:auto;
        cursor: pointer;
        }
        .btn {
        width:150px;
        margin-right: 10px; 
        float:right;
    }
    }

    h3 {
         word-wrap: break-word;
    }
    
    .cornerbutton {
        position:absolute;
        bottom:0;
        right:0;
    }
  </style>
<div class="rcorners1 background">
    <center>
      <div>
        <div>
            <br>
          <h1><font color="white">Service Zone Information </font></h1>
          <button type="button" class="btn" style="background-color: white;" onclick="window.location='https://docs.google.com/forms/d/e/1FAIpQLScZ2HaseU2Fec_oOUakj90DN85EpcSddnk4NKV1iEs76FqMUw/viewform'">Request a Zone</button>
        <button type="button" class="btn" style="background-color: white;" onclick="window.location='/manage'">Manage Zones</button>
        <button type="button" class="btn" style="background-color: white; " onclick="window.location='/report'">Zone Report</button>
        <div style="clear: both;"></div>
          <% if(user.zones_reviewed == 'false') { %>
            <h3><font color="white">You must select at least one zone before proceeding</font></h3>
        <% } %>
          <p><strong><font color="white">Select District to see Zones</font></strong></p>
        </div>
        <div>
            <% var parentids = [];
            for(var i=0; i<zones.length; i++) {
                if(zones[i].parent_zone === null) { 
                   parentids.push(zones[i].zone_name);
                    %>
            <div class="column-4" onclick="showZones('<%= zones[i].zone_name %>')" style="background-image: url('<%= zones[i].img_url %>');background-size: contain;background-repeat: no-repeat;">
                <h4><%= zones[i].zone_name %></h4>
            </div>
            <% } 
            } %>
        </div>
        <div style="clear: both;"></div>
        
        <br>
        <br>
        <hr>
        <form id="zoneForm" method="POST">
            <input type="hidden" name='selection' id='selection' value="">          
            <input type="hidden" name='newZone' id='newZone' value="">          
            <input type="hidden" name='newParentZone' id='newParentZone' value="">          
            <input type="hidden" name='userid' id='userid' value="<%= user.user_id %>">
            <input type="hidden" name='usertype' id='usertype' value="<%= user.customer_type %>">
            <input type="hidden" name='zonesreviewed' value="<%= user.zones_reviewed %>">
            <% for(var i=0; i < parentids.length; i++) { %>
            <div class="zones" id="zone<%= parentids[i] %>" style="display:none;">
            <% for(var j=0; j<zones.length; j++) { 
                if(zones[j].parent_zone == parentids[i] ) { 
                %>
                <div style="float:left; width: 100%">
                    <div style="display:inline-block;position:relative; background-image: url('<%= zones[j].img_url%>');background-size: cover; background-repeat: no-repeat;" class="column-4">
                        <h4><%= zones[j].zone_name %></h4>
                        <% if(userzones.includes(zones[j].zone_name) == false)
                        { %>
                        <input type="button" class="cornerbutton" value="Add Zone" onclick="addZone('<%= zones[j].zone_name %>', '<%= zones[j].parent_name %>')"/>
                        <% } %>
                    </div>
                    <!---
                    <span style="float: left; margin-top:15px;">Active Users: 3<br>
                        Zone Votes: <%= zones[j].total_votes %><br>
                        Assigned Workers: <%= zones[j].assigned_workers %>
                    </span>
                    --->
                </div>
                <% } 
            } %>
            </div>
        <% } %>
        </form>
        
       <div style="clear: both;"></div>
    </div>     
    </center>
</div>
<script>
    function showZones(id)
    {
        var divsToHide = document.getElementsByClassName("zones"); //divsToHide is an array
        for(var i = 0; i < divsToHide.length; i++){
            divsToHide[i].style.display = "none"; // depending on what you're doing
        }
        document.getElementById('zone'+id).style.display="block";
    }
    function addZone(zoneName, parentName)
    {
        if (confirm("Are you sure you want to add this zone to your profile?") == true) 
        {
            jsonValue = '[';
			<% if(!!zoneSelection)
            {
                for( var i=0; i < zoneSelection.length; i++) { %>
                jsonValue += '{"zone_name":"<%= zoneSelection[i].zone_name %>","parent_name":"<%= zoneSelection[i].parent_name %>","votes":"<%= zoneSelection[i].votes %>"},';
            <% }
            } %>
            jsonValue += '{"zone_name":"'+zoneName+'","parent_name":"'+parentName+'","votes":"0"}]';
            document.getElementById('selection').value = jsonValue;
            document.getElementById('newZone').value = zoneName;
            document.getElementById('newParentZone').value = parentName;
            document.getElementById('zoneForm').submit();
        }
    }
</script>
<%- include('./includes/end.ejs') %>